body{
    margin: 0 auto;
    padding:0;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 85%;
    color:white;
    font-size: 1.10rem;
    padding:1.6rem;
    background-color: black;
    margin: 0 auto;
    
}

.company-name{
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-item{
    margin-right: 25px;
    text-decoration: none;
    color:white
}

.nav-item:hover{
  color:rgb(158, 158, 158)  
}

main{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

p{
    font-size: 17px;
}

h1{
    margin-top: 3rem;
    
}

.section-divider-intro{
    width: 600px;
    margin-left: 0;
    margin-bottom: 2rem;
}

.section-divider{
    width: 100px;
    margin-left: 0;
    margin-bottom: 2rem;
}

.intro_image{
    float: right;
    margin-left: 40px;
    margin-right: 5px;

}

figcaption{
    font-size: 12px;
    text-align: center;
}