body{
    margin: 0 auto;
    background-color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    color:white;
    font-size: 1.10rem;
    padding:1.5rem;
    background-color: black;
    text-align: left;
    
}

.company-name{
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-item{
    margin-right: 25px;
    text-decoration: none;
    color:white
}

.nav-item:hover{
  color:grey  
}

main{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


h1{
    text-align: left;
    margin-top: 3rem;
    
}

.intro_image{
    float: right;
}